<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide 1 -->
                <div class="carousel-item active" style="background: url(/images/carousel/slide-1.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Bienvenue chez <span>Sos PC</span></h2>
                            <h4 class="animate__animated animate__fadeInUp">Nous fournissons des services de dépannage<br> informatique de haute qualité.</h4>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <!-- Slide 2 -->
                <div class="carousel-item" style="background: url(/images/carousel/slide-2.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated fanimate__adeInDown">service <span>professionnel</span></h2>
                            <h4 class="animate__animated animate__fadeInUp">Nous fournissons une assistance<br> complète à chaque client.</h4>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <!-- Slide 3 -->
                <div class="carousel-item" style="background: url(/images/carousel/slide-3.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Une équipe <span>d'experts</span></h2>
                            <h4 class="animate__animated animate__fadeInUp">Nous employons les meilleurs<br> techniciens informatique</h4>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">En savoir plus</a>
                        </div>
                    </div>
                </div>
                <!-- Slide 4 -->
                <div class="carousel-item" style="background: url(/images/carousel/slide-4.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Services de <span>dépannage</span></h2>
                            <h4 class="animate__animated animate__fadeInUp">Nous proposons des solutions de réparation<br> professionnelles et de haute technologie.</h4>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</section>