<section id="featured" class="featured">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="icon-box">
                    <i class="fa-solid fa-gauge mb-5"></i>
                    <h3><a href="">Optimisation</a></h3>
                    <p>Nous fournissons des services d'optimisation de qualité pour faire fonctionner votre ordinateur correctement.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="fa-brands fa-windows mb-5"></i>
                    <h3><a href="">Configuration et installation</a></h3>
                    <p>Besoin d'un service de configuration PC et d'installation de logiciels? Nous sommes là pour vous aider!</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="fa-solid fa-screwdriver-wrench mb-5"></i>
                    <h3><a href="">Diagnostics PC</a></h3>
                    <p>Nos experts peuvent facilement diagnostiquer tout problème informatique et le résoudre rapidement.</p>
                </div>
            </div>
        </div>
    </div>
</section>

