<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 footer-info">
                    <h3>Nous suivre</h3>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/ExpaceDevelopment"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/ExpaceDevelop"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        
                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        
                        <!--
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="https://github.com/expace-dev"><i class="fab fa-git"></i></a>
                        -->
                    </div>

                </div>

                <div class="col-lg-4 footer-contact">
                    <h4>Nos coordonnées</h4>
                    <p>
                        121 rue Maurice Burrus <br>
                        68160 Ste Croix aux mines<br>
                        France <br><br>
                        <strong>Téléphone:</strong> <a href="tel:0754270777">07 54 27 07 77</a><br>
                        <strong>Email:</strong> <a href="mailto:contact@sos-home-pc.fr">contact@sos-home-pc.fr</a>
                    </p>
                </div>

                <div class="col-lg-4 footer-links">
                    <h4>Mentions légales</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="">Politique de confidentialité</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="">Conditions générales de vente</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            &copy; Copyright 2021 <strong><span>Expace Development</span></strong>. Tous droits réservés
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer>