<header class="py-3 large">
    <div class="container d-flex flex-wrap justify-content-center">
        <ul class="nav fs-7 contact-info">

            <li><i class="fas fa-mobile-alt"></i> <a class="" href="tel:0754535558">07 54 53 55 58</a></li>
            <li><i class="far fa-envelope"></i> <a class="" href="mailto:contact@expace-development.fr">contact@expace-development.fr</a></li>
        
        </ul>
        <ul class="nav me-auto d-flex align-items-center">
            {% include "partials/social-icon.html.twig" %}
        </ul>
    </div>

</header>

<!-- Intégration de la navigation sur mobile -->
{% include "partials/navbar-mobile.html.twig" %}


<!-- Intégration de la navigation sur écran large -->
<div class="large sticky-top" style="background-color: #fff;">
    <nav class="py-2 border-bottom navbar" id="navbar">
        <div class="container d-flex align-items-center flex-wrap">
            <a href="" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <img class="logo" src="/images/logo.png">
            </a>
            <ul class="nav fs-7 d-flex align-items-center">
                {% include "partials/navigation.html.twig" %}
            </ul>
        </div>
    </nav>
</div>



